
<form action="/cats" method="post">
    <label for="cat-name">Cat name:</label>
    <input type="text" name="cat" id="cat-name" />
    <input type="submit" value="create" />
</form>

<ul>
    <li>Cat name 1</li>
    <li>Cat name 2</li>
    <li>Cat name 3</li>
</ul>